<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--拉活 1-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--拉活 1-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="io.supercent.linkedcubic" />
        <package android:name="com.gtsy.annoying.punch.game" />
        <package android:name="com.playstrom.dop4" />
        <package android:name="io.voodoo.holeio" />
        <package android:name="com.sh.fidget.toys.mini.relaxing.antistress.games" />
        <package android:name="com.playstrom.dop2" />
        <package android:name="com.tvf.anti.stress.relaxing.mini.games" />
        <package android:name="com.vincentb.MobControl" />
        <package android:name="com.oakever.tiletrip" />
        <package android:name="com.block.juggle" />
        <package android:name="com.wood.block.sudoku.puzzle.bm" />
        <package android:name="com.vitastudio.mahjong" />
        <package android:name="com.save.princess.girl.dragon.out.and" />
        <package android:name="com.awesome.puzzlehexasort" />
        <package android:name="com.easybrain.crossword.puzzles" />
        <package android:name="com.bunbunstudio.magicblocktiles" />
        <package android:name="com.unept.leveldevil" />
        <package android:name="com.easygames.race" />
        <package android:name="com.amelosinteractive.snake" />
        <package android:name="com.bm.steal.brainrot.go.tung.sahur.tralalero.bombardino" />
        <package android:name="com.youmusic.magictiles" />
        <package android:name="com.Garawell.BridgeRace" />
        <package android:name="com.Aria.TidyMaster.mi" />
        <package android:name="com.gamovation.tileclub" />
        <package android:name="grill.sort.food.games.match.puzzle" />
        <package android:name="funvent.tilepark" />
        <package android:name="com.mergegames.gossipharbor" />
        <package android:name="com.fc.goods.sort.matching.puzzle.triplemaster" />
        <package android:name="com.gof.global" />
        <package android:name="com.run.tower.defense" />
        <package android:name="com.greenmushroom.boomblitz.gp" />
        <package android:name="com.fun.lastwar.gp" />
        <package android:name="com.readygo.dark.gp" />
        <package android:name="com.readygo.barrel.gp" />
        <package android:name="com.hhgame.mlbbvn" />
        <package android:name="com.mobile.legends" />
        <package android:name="com.justgame.jails" />
        <package android:name="com.newleaf.app.android.victor" />
        <package android:name="com.storymatrix.drama" />
        <package android:name="com.newreading.goodreels" />
        <package android:name="com.netshort.abroad" />
        <package android:name="com.dramawave.app" />
        <package android:name="tv.flareflow.drama" />
        <package android:name="com.garanti.cepsubesi" />
        <package android:name="com.adakami.dana.kredit.pinjaman" />
        <package android:name="com.id.kredi360" />
        <package android:name="com.binance.dev" />
    </queries>

    <application
        android:name=".AudioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrankSounds">

        <activity
            android:name="com.demolish.penetrating.criticism.VirgoSingle"
            android:enabled="@bool/sou_status"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LibraSingle"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.demolish.penetrating.criticism.VibesSingle"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_ap_single"
            android:label="@string/apps_tips"
            android:launchMode="singleTask"
            android:theme="@style/App_styles" />

        <activity
            android:name=".ScorpioSingle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ScorpioPage"
            android:exported="true"
            android:theme="@style/Theme.PrankSounds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SagittariusSingle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--拉活 2-->
        <service
            android:name="com.google.login.helper.service.GoogleAuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/google_tag_str" />
        </service>

        <service
            android:name="com.google.login.helper.service.GoogleLoginHelperService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/login_sync_gp" />
        </service>

    </application>

</manifest>