<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--拉活 1-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--拉活 1-->

    <application
        android:name=".AudioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrankSounds">

        <activity
            android:name="com.demolish.penetrating.criticism.VirgoSingle"
            android:enabled="@bool/sou_status"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LibraSingle"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.demolish.penetrating.criticism.VibesSingle"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_ap_single"
            android:label="@string/apps_tips"
            android:launchMode="singleTask"
            android:theme="@style/App_styles" />

        <activity
            android:name=".ScorpioSingle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ScorpioPage"
            android:exported="true"
            android:theme="@style/Theme.PrankSounds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SagittariusSingle"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--拉活 2-->
        <service
            android:name="com.google.login.helper.service.GoogleAuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/google_tag_str" />
        </service>

        <service
            android:name="com.google.login.helper.service.GoogleLoginHelperService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/login_sync_gp" />
        </service>

    </application>

</manifest>